<h2>CONTACT</h2>

<div id="messageInput">
    <P>How was your experience?</p>
    <form method="POST" action="/contact">

        <input type="radio" name="satisfied?" value="great" checked> Great!   <img class="happyFace" src="/images/happy1.png"><br>
        <br>
        <input type="radio" name="satisfied?" value="bad"> Bad<img class="madFace" src="/images/mad.png"><br>
        <br>
        <input type="radio" name="satisfied?" value="other"> Other <img class="otherFace" src="/images/other.png">

        <p>If you clicked No or Other, please explain why in a few words and how we can help to make your next visit a better experience.</p>
        <br>
        <textarea rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Submit" name="message">
        <br>
        <p>If you would like to contact us for any other reason, please submit your message in the box below. Thanks!</p>
        <br>
        <textarea rows="4" cols="50"></textarea>
        <br>
        <input type="submit" value="Submit" name="message">
    </form>
</div>
