<body onload="setTimeout(alertBanner, 2000);">
<h2>MISSION STATEMENT</h2>
<br>
<p id="about">"To provide customers a unique experience to ordering food at a convenient area with the affordability to everyone. We will be accommodating all interests with a large scale of menu options that everyone can relate to with an infusion of our own creativity that sets us apart from other truck stands. Our food truck will be available at the most convenient times for travelers as well as locals. 

Our food truck intends to sell fast, fresh, and hot food to our customers. Accommodates fast food eaters and serve to all ages by accommodating their taste. The Food Truck aims to serve healthy, affordable, local food on- the-go. For all types of customers for the time savvy business to the casual lunch. Creating the most comfortable dining experience possible."</p>

<script>
    function alertBanner() {
        alert("Don't forget to check out the gallery page for upcoming food truck events!!")
    }
</script>

</body>

